@page
@model DogBlog.Pages_Blogs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this blog?</h3>
<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Description)
        </dd>
        <div class="form-group">
            <input type="hidden" asp-for="Blog.ImagePath" />
            @if (!string.IsNullOrEmpty(Model.Blog.ImagePath))
            {
                <div>
                    <label><strong>Image:</strong></label>
                    <img src="@Model.Blog.ImagePath" alt="Blog Image" style="max-width: 20%; height: auto;" />
                </div>
            }
            else
            {
                <p>No image available</p>
            }
        </div>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Blog.BlogId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
